/* 轮播图 B */

.carousel_wrapper {
  width: 100%;
  background: url(../images/banner_bg.png) no-repeat;
  position: relative;
}

.carousel_window {
  /* height: 949px; */
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: url('../images/curmove.png'), pointer;
}

.carousel_box {
  position: absolute;
}

.carousel_box>li {
  float: left;
}

.carousel_box>li>.item_bg>.item_det {
  background: url(../images/bg_1_det.png) no-repeat;
  background-size: 100%;
  height: 100%;
  /* height: 949px; */
}

.carousel_box>li>.item_bg {
  background: url(../images/bg_1.png) no-repeat -150px 10px;
  background-size: 100%;
  height: 100%;
}

.carousel_box>li video {
  height: 100%;
  max-width: 100%;
}

.points_window_wrapper {
  left: 50%;
  margin-left: -600px;
  bottom: 50px;
  position: absolute;
}

.points_window {
  position: relative;
  width: 1200px;
  height: 86px;
  overflow: hidden;
}

.carousel_points {
  width: 6000px;
  position: absolute;
  z-index: 2;
  color: #ad986d;
  font-size: 12px;
  user-select: none;
}

.carousel_points>li {
  cursor: pointer;
  position: relative;
  float: left;
  margin: 0 200px 0 0;
  width: 265px;
}

.main_content .carousel_points li .points_t {
  line-height: 40px;
  position: relative;
  top: 20px;
  opacity: 0;
}

.main_content .carousel_points li .points_spe {
  height: 2px;
  width: 205px;
  background-color: #AD976E;
}

.main_content .carousel_points li .points_b {
  line-height: 44px;
}

.points_num_wrap {
  position: absolute;
  top: 40px;
  right: 0px;
  transform: rotate(-45deg);
  overflow: hidden;
}

.main_content .carousel_points li .points_num {
  line-height: 40px;
  width: 60px;
  font: 30px 'Gotham-Bold';
  position: relative;
  top: 50px;
  transform: rotate(45deg);
}


/* arrow */

.points_larrow,
.points_rarrow {
  width: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  line-height: 22px;
  cursor: pointer;
  transition: padding 0.3s;
  overflow: hidden;
  color: #ad986d;
  font-size: 14px;
}

.points_larrow:hover {
  padding-right: 40px;
}

.points_rarrow:hover {
  padding-left: 40px;
}

.points_rarrow {
  left: 1250px;
  text-align: right;
}

.points_larrow {
  right: 1250px;
}

.points_larrow i,
.points_rarrow i {
  font-size: 12px;
  color: #ad986d;
  position: relative;
}

.points_larrow span,
.points_rarrow span {
  position: absolute;
}

.points_larrow span {
  left: 20px;
}

.points_rarrow span {
  right: 20px;
}


/* 轮播图 E */


/* 黑金介绍 B */

.black_gold .bgold_t {
  border-bottom: 1px solid #1A1A1A;
}

.black_gold .bgold_t ul li {
  width: 25%;
  float: left;
  text-align: center;
  height: 185px;
  position: relative;
}

.black_gold .bgold_t ul li:not(:first-child)::before {
  content: '';
  height: 80px;
  width: 1px;
  background-color: #2b2821;
  transform: rotate(30deg);
  position: absolute;
  top: 45px;
  left: 0px;
}

.black_gold .bgold_t ul li .bg_num {
  font-size: 50px;
  color: #ad986d;
  line-height: 52px;
  margin-top: 50px;
}

.black_gold .bgold_t ul li .bg_title {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 30px;
}

.black_gold .bgold_b {
  height: 550px;
}

.bgold_b_content {
  width: 650px;
  float: left;
  padding-top: 80px;
}

.bgold_b_title {
  position: relative;
  top: 50px;
  opacity: 0;
}

.bgold_b_title h1 {
  font-size: 22px;
  color: #ad986d;
  font-weight: normal;
}

.bgold_b_title p {
  letter-spacing: 2px;
  color: #594f3c;
  font-size: 14px;
  line-height: 34px;
}

.bgold_b_detail {
  position: relative;
  top: 50px;
  opacity: 0;
}

.bgold_b_detail h2 {
  font-size: 18px;
  color: #ad986d;
  font-weight: normal;
  padding-top: 100px;
}

.bgold_b_detail p {
  font-size: 13px;
  color: #464545;
  line-height: 28px;
  padding-top: 30px;
}

.bgold_b_img a img {
  height: 300px;
  width: 460px;
}

.bgold_b_img {
  margin-top: 150px;
  position: relative;
  top: 50px;
  opacity: 0;
}

.bgold_b_more {
  display: inline-block;
  margin-top: 40px;
  position: relative;
  user-select: none;
  top: 50px;
  opacity: 0;
}

.bgold_b_more .more {
  height: 30px;
  width: 60px;
  line-height: 30px;
  text-align: center;
  font-family: 'GothamRnd-Light';
  border: 2px solid #ad986d;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.bgold_b_more p {
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 14px;
  color: #AD986D;
  cursor: pointer;
  transition: all 0.3s;
}

.bgold_b_content:hover .bgold_b_more .more {
  opacity: 1;
  width: 90px;
}

.bgold_b_content:hover .bgold_b_more i {
  left: 46px;
}

.bgold_b_content:hover .bgold_b_more .line {
  width: 50px;
}

.bgold_b_content:hover .bgold_b_more p {
  padding-left: 10px;
}

.bgold_b_more i {
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  font-size: 13px;
  color: #ad986d;
  transition: left 0.3s;
}

.bgold_b_more .line {
  height: 2px;
  width: 0px;
  background-color: #ad986d;
  position: absolute;
  left: 70px;
  top: 50%;
  margin-top: -1px;
  transition: width 0.3s;
}


/*------------------------黑金艺人开始------------------------*/


/*上半部分标题文字开始*/

.artist {
  margin-top: 100px;
}

.artist_t1 {
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 30px;
  color: #ad986d;
}

.artist_t2 {
  letter-spacing: 2px;
  color: #594f3c;
  margin-top: 10px;
  font-size: 14px;
}


/*上半部分标题文字结束*/


/*下部分图片主体开始*/

.art-content {
  position: relative;
}


/* .box_wrapper {
  position: absolute;
} */


/* 
.art_c_wrapper {
  height: 100%;
  width: 100%;
} */

.m-color {
  color: #bda77a;
}

.art-content {
  /*可省略*/
  width: 1100px;
  margin: 50px auto;
}

.box {
  width: 25%;
  height: 420px;
  /*background-color: #333;*/
  background-color: #111;
  position: relative;
  opacity: 0;
}

.box img {
  width: 100%;
}

.item_wrapper {
  transition: all 0.36s ease;
  position: relative;
  box-sizing: border-box;
  height: 104px;
  padding: 24px 20px;
  /*background-color: #111111;*/
}

.item_info {
  text-align: center;
  transition: 0.66s ease;
  position: relative;
  line-height: 26px;
}

.item_info .title {
  transition: all 0.36s;
  font-size: 18px;
  line-height: 30px;
  color: #bda77a;
}

.item_info .subtitle {
  transition: all 0.36s ease;
  /*color: #777;*/
  font-size: 14px;
  line-height: 22px;
  color: #bda77a;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.item_mask {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.36s ease;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.item_mask .item_info {
  position: absolute;
  left: 30px;
  bottom: 130px;
  transition: 0.36s ease;
}

.item_mask .item_info .title {
  transition: all 0.36s cubic-bezier(0.21, 0.5, 0.24, 0.96);
  transition-delay: 0.1s;
  line-height: 80px;
  height: 30px;
}

.item_mask .item_info .subtitle {
  height: 22px;
  line-height: 60px;
  transition-delay: 0.1s;
  transition: all 0.36s cubic-bezier(0.21, 0.5, 0.24, 0.96);
}

.item_des {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 33px;
  margin-top: 20px;
  opacity: 0;
  transition: 0.36s ease;
}

.item_des .description {
  transition: all 0.36s ease;
  font-size: 12px;
  line-height: 26px;
  height: 52px;
  overflow: hidden;
  width: 200px;
}

.item_index {
  display: block;
  position: absolute;
  font-size: 36px;
  top: 28px;
  right: 30px;
  font-family: Gotham-Bold;
  opacity: 0;
  transition: 0.36s ease;
}

.box:hover .index_num {
  transform: translateY(0) rotateX(0);
}

.item_index .index_num {
  margin-top: -30px;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-90%) rotateX(90deg);
  transform-origin: center bottom 0;
  display: block;
}

.item_index .lineSvg {
  position: absolute;
  top: 12px;
  right: -44px;
}

.box:hover .lineSvg path {
  stroke-dasharray: 50;
  stroke-dashoffset: -34;
}

.box:hover .item_mask {
  background: rgba(0, 0, 0, 0.3);
  border-color: #ad986d;
}

.box:hover .item_info {
  transition: 0.26s ease;
  opacity: 1;
}

.box:hover .item_info .title {
  line-height: 30px;
  transition-delay: 0s;
}

.box:hover .item_info .subtitle {
  line-height: 22px;
  transition-delay: 0.1s;
}

.box:hover .item_index {
  opacity: 1;
}

.box:hover .index_num {
  margin-top: 0;
}

.box:hover .item_box>.item_index:after {
  opacity: 1;
}

.box:hover .item_wrapper>.item_info {
  opacity: 0;
}

.box:hover .item_des {
  opacity: 1;
  margin-top: 0;
}

.one-box {
  width: 275px;
  height: 320px;
  overflow: hidden;
}

.box:hover .one-pic {
  transform: scale(1.1);
}

.one-pic {
  transition: all 0.5s;
  /*下部分图片主体结束*/
}


/*------------------------黑金艺人结束------------------------*/

.product_whole {
  height: 575px;
  width: 100%;
  background-color: #111111;
  margin-top: 100px;
}

.product_h {
  position: relative;
  top: 50px;
  opacity: 0;
}

.product_b {
  position: relative;
  top: 50px;
  opacity: 0;
}

.product_z {
  margin-bottom: 50px;
  float: left;
}

.product_z .title {
  color: #ad986d;
  font-size: 22px;
  line-height: 30px;
}

.product_z .subtitle {
  letter-spacing: 2px;
  line-height: 34px;
  color: #594f3c;
  font-size: 14px;
}

.product_y {
  margin-top: 30px;
  float: right;
}

.product_y a {
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  padding: 0 5px;
}

.product_y .teshu {
  color: #5B5B5B;
}

.teshu:hover {
  color: #ad986d;
}

.product_y i {
  font-size: 1px;
}

.product_x {
  display: inline-block;
  font-size: 1px;
}

.product_y i {
  position: relative;
  line-height: 1;
}

.product_t .product_zt {
  float: left;
  position: relative;
  /* top: 50px; */
}

.product_t .product_yt {
  float: left;
  position: relative;
  /* top: 50px; */
}

.product_t {
  width: 4800px;
  cursor: pointer;
  position: absolute;
}

.product_box {
  width: 1200px;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.product_zt1 .ellipsis {
  font-size: 14px;
  color: #4f4736;
  position: relative;
  left: 34px;
  top: -31px;
}

.ellipsis_conceal {
  color: #ad986d;
  position: absolute;
  font-size: 16px;
  left: 33px;
  top: -64px;
}

.ellipsis_conceal i {
  font-size: 1px;
  position: absolute;
  left: 115%;
  top: 3px;
}

.product_zt a,
.product_yt a {
  display: inline-block;
}

.product_zt,
.product_yt {
  float: left;
  width: 600px;
}

.hidden {
  opacity: 0;
}

.product_t li:hover img {
  transform: scale(1.1);
}

.product_zt a img,
.product_yt a img {
  transition: all 0.4s;
  opacity: 1;
  width: 100%;
}

.product_zt a {
  overflow: hidden;
}

.product_zt:hover .pro_img1 {
  /* filter: alpha(Opacity=40); */
  /* -moz-opacity: 0.4; */
  opacity: 0.3;
}

.product_yt:hover .pro_img2 {
  /* filter: alpha(Opacity=40); */
  /* -moz-opacity: 0.4; */
  opacity: 0.3;
}

.product_yt a {
  overflow: hidden;
}

.tong {
  position: relative;
}

.product_zt1_x {
  display: inline-block;
  height: 2px;
  background-color: #ad986d;
  width: 215px;
  display: none;
  position: absolute;
  left: 26px;
  top: -85px;
}

.tong .date {
  color: #ad986d;
  font-size: 13px;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 466px;
  top: -119px;
  text-align: right;
  overflow: hidden;
}

.tong .date1 {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: right;
  width: 100px;
  height: 20px;
}

.tong .m {
  display: inline-block;
  font-size: 13px;
  color: #ad986b;
  position: absolute;
  left: 2px;
  top: 4px;
}

.tong .year {
  display: inline-block;
  font-size: 13px;
  color: #ad986b;
  position: absolute;
  left: 67px;
  top: 5px;
}

.tong .x {
  display: inline-block;
  height: 2px;
  width: 40px;
  background-color: #ad986b;
  position: absolute;
  top: 11px;
  left: 21px;
}

.title_h {
  color: #ad986d;
  position: absolute;
  font-size: 16px;
  left: 27px;
  top: -38px;
}

.product_yt1_x {
  display: inline-block;
  height: 2px;
  width: 215px;
  display: none;
  background-color: #ad986d;
  position: relative;
  left: 26px;
  top: -59px;
}

.title_h i {
  font-size: 1px;
  position: absolute;
  left: 128%;
  top: 3px;
}

.product_yt1 .date {
  top: -100px;
}


/* 按钮部分 */

.product_btn {
  text-align: center;
  width: 1200px;
  margin: 80px auto;
  position: relative;
  top: 50px;
  opacity: 0;
}

.product_btn span {
  font-family: '宋体';
  display: inline-block;
  margin: 0 20px;
  color: #8b7b59;
  user-select: none;
}

.product_btn span:first-child {
  color: #474545;
}

.product_btn .arrow {
  cursor: pointer;
  height: 30px;
  width: 30px;
}


/*新闻模块*/

.news-top {
  margin-bottom: 30px;
  position: relative;
  top: 50px;
  opacity: 0;
}


/*新闻头部左侧*/

.news-top h4 {
  height: 30px;
  width: 50px;
  padding-top: 10px;
  color: #ad986e;
  float: left;
}

.news-top .top-2-left {
  width: 88px;
}

.news-top .top-2-left {
  font-size: 18px;
}

.news-top .top-2-left span:first-child {
  font-size: 22px;
}

.news-top .top-2-left p {
  letter-spacing: 2px;
  line-height: 34px;
  color: #594f3c;
  font-size: 14px;
}


/*新闻导航开始*/

.news-n {
  float: right;
}

.news-n li {
  float: left;
}

.news-n li:hover a {
  color: #ad986e;
}

.news-n li a {
  display: inline-block;
  font-size: 14px;
  height: 90px;
  line-height: 90px;
  color: #5b5b5b;
  margin: 0 12px 0 16px;
}

.news-n li .more {
  position: relative;
  color: #ad986e;
  width: 40px;
  height: 100%;
}

.news-n li .more .more-txt {
  position: absolute;
  font-size: 16px;
}

.news-n li .more i {
  position: absolute;
  font-style: normal;
  right: -15px;
  top: 50%;
  margin-top: -8px;
}


/*当前导航显示样式*/

.news-n li a.nav-now {
  border-bottom: 2px solid #ad986e;
  color: #ad986e;
}


/*新闻导航结束*/


/*新闻主体开始*/

.news-main {
  position: relative;
  top: 50px;
  opacity: 0;
}

.news-main .left {
  float: left;
  width: 450px;
  height: 476px;
  z-index: 1;
}

.news-main .left .news-wrap {
  /*margin: 30px 22px;*/
}

.news-main .left .img-wrap {
  position: relative;
  width: 450px;
  height: 238px;
  overflow: hidden;
}

.news-main .left .img-wrap img {
  position: absolute;
  width: 450px;
  height: 238px;
}

.news-main .left:hover img {
  transform: scale(1.2);
}

.news-main .left img {
  transition: all 0.3s;
}

.news-main .left h6 {
  width: 352px;
  height: 21px;
  font-size: 16px;
  color: #ad986e;
  margin: 35px 0 25px 0;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-main .left p {
  height: 45px;
  width: 428px;
  line-height: 22px;
  font-size: 13px;
  color: #5b5b5b;
  overflow: hidden;
  padding-right: 5px;
  margin-bottom: 12px;
}

.news-main .left .more {
  border-top: 1px solid #1f1f1f;
  padding-top: 13px;
  position: relative;
  height: 36px;
  color: #ad986e;
  font-size: 16px;
}

.news-main .left .more .top-line {
  position: absolute;
  top: -1px;
  width: 40px;
  height: 2px;
  background-color: #ad986e;
}

.news-main .left .more-txt {
  position: absolute;
  width: 56px;
  font-size: 12px;
  padding: 12px 0;
}

.news-main .left .more-line {
  position: absolute;
  left: 56px;
  top: 32px;
  width: 0px;
  height: 2px;
  background-color: #ad986e;
  opacity: 0.3;
}

.news-main .left .more-line i {
  position: absolute;
  font-style: normal;
  right: 0;
  top: -8px;
}


/*新闻主体右侧*/

.news-main .right {
  float: right;
  width: 750px;
  height: 476px;
}

.news-main .right li {
  width: 375px;
  float: left;
  overflow: hidden;
}

.news-main .right li a {
  position: relative;
  display: inline-block;
  width: 375px;
  height: 238px;
}


/*上层盒子*/

.news-main .right li .up {
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  height: 238px;
  z-index: 2;
}


/*日期*/

.news-main .right li .up .time {
  overflow: hidden;
  position: relative;
  height: 77px;
  width: 100%;
}

.news-main .right li .up .time .num {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 4px;
  top: 4px;
}

.news-main .right li .up .time .num span {
  position: absolute;
  left: 0;
  bottom: 0;
  font: 700 20px "黑体";
  opacity: 1;
  font-size: 18px;
}

.news-main .right li .up .time .date {
  position: absolute;
  right: 35px;
  top: -25px;
  font: 700 24px "黑体";
  opacity: 0;
}

.news-main .right li .up .line {
  transform: rotate(315deg);
  position: absolute;
  left: 375px;
  bottom: 215px;
  width: 86px;
  height: 2px;
  background-color: #ad986e;
}


/*段落*/

.news-main .right li .up .txt {
  margin: 0 48px 35px;
  height: 86px;
  overflow: hidden;
}

.news-main .right li .up .txt h6 {
  height: 20px;
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
}

.news-main .right li .up .txt p {
  height: 45px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px;
  color: #535252;
}


/*下层盒子，被覆盖*/

.news-main .right li .bg {
  position: absolute;
  width: 375px;
  height: 238px;
  background-color: #111;
  opacity: 1;
}

.news-main .right li .bg1 {
  position: absolute;
  width: 375px;
  height: 238px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.news-main .right li .down {
  width: 375px;
  height: 238px;
}

.news-main .right li:hover img {
  transform: scale(1.1);
}

.news-main .right li .down img {
  transition: all 0.3s;
}


/*新闻主体结束*/


/*分界线开始*/

.news-line {
  position: relative;
}

.news-line .line-l {
  position: absolute;
  left: 50%;
  margin-left: 225px;
  height: 476px;
  width: 1px;
  background-color: #1f1f1f;
}

.news-line .line-h {
  position: absolute;
  top: 238px;
  width: 100%;
  height: 1px;
  background-color: #1f1f1f;
}


/*分界线结束*/

section.music nav {
  position: relative;
  z-index: 2;
}

section.music {
  background: url("../images/index_music_bg.jpg") no-repeat center;
  height: 932px;
  /*暂时固定高度。*/
  overflow: hidden;
  /*去除margin塌陷。*/
}

section.music .container {
  height: 732px;
  margin-top: 100px;
  position: relative;
}

section.music .header {
  /*line-height: 30px;*/
  position: relative;
  top: 50;
  opacity: 0;
}

section.music .header .title {
  font-size: 22px;
  color: #ad986d;
  line-height: 30px;
}

section.music .header .subtitle {
  color: #594f3c;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
}

section.music nav a {
  padding: 8px 18px;
  color: #5b5b5b;
  position: relative;
}

section.music nav a.all {
  color: #ad986d;
}

section.music nav a:after {
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  background-color: #514837;
  right: 0;
  top: 14px;
  transform: rotate(30deg);
}

section.music nav a:last-child:after,
section.music nav a:nth-child(5):after {
  width: 0;
}

section.music nav a.more {
  color: #ad986d;
}

section.music nav a.more i {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 4px 8px 4px 8px;
  border-color: transparent transparent transparent #ad986d;
  border-style: solid;
  vertical-align: middle;
}

section.music .list {
  height: 300px;
  overflow: hidden;
  margin-top: 123px;
  position: relative;
  top: 50px;
  opacity: 0;
}

section.music .list ul {
  height: 700px;
  position: relative;
}

section.music .list li {
  position: absolute;
  left: 0;
  height: 100px;
  width: 450px;
  box-sizing: border-box;
  border-bottom: 1px solid #1b1b1b;
}

section.music .list li a {
  /*position: relative; !*定位不是就可以设置宽高了吗*!*/
  display: block;
  width: 450px;
  height: 100%;
  padding: 30px 0 20px 0;
  color: #bda77a;
}

section.music .list li .number {
  opacity: 0;
  font-size: 20px;
  line-height: 46px;
  position: absolute;
  left: 70px;
  font-family: 'Gotham-Bold';
}

section.music .list li.current a .number {
  opacity: 1;
  left: 0;
  font-size: 46px;
}

section.music .list li.current a .song {
  left: 70px;
}

section.music .list li .song {
  position: absolute;
  left: 0;
  line-height: 26px;
  font-size: 16px;
  white-space: nowrap;
}

section.music .list li .song .singer_name {
  font-size: 13px;
  color: #414040;
}

section.music .disc_grandparent {
  position: absolute;
  /*靠内容撑开盒子*/
  left: 327px;
  top: 110px;
  width: 580px;
}

section.music .disc_parent {
  position: relative;
  top: 50px;
}

section.music .disc_parent .disc {
  position: relative;
  width: 500px;
  height: 500px;
  /*overflow: hidden;*/
}

section.music .disc_parent .disc img {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

section.music .disc_parent .switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 500px;
}

section.music .disc_parent .switch a {
  display: block;
  width: 80px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
}

section.music .disc_parent .switch a.last {
  border-bottom: 1px solid #1b1b1b;
}

section.music .disc_parent .switch a i {
  font-style: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg);
  color: #ad986d;
}

section.music .disc_parent .switch a i.disable {
  color: #1b1b1b;
}

section.music .switch a:hover i {
  font-weight: 700;
  font-size: 20px;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3);
  transition: all 0.1s;
}

section.music .disc_parent .switch a.last i {
  top: 5px;
}

section.music .disc_parent .switch a.next i {
  bottom: 5px;
}

section.music .control a:first-child {
  border-bottom: 1px solid #1b1b1b;
}

section.music .disc .middle,
section.music .disc .control {
  border-radius: 50%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

section.music .disc .middle {
  width: 318px;
  height: 318px;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
}

section.music .disc .middle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.music .disc .middle .time {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  color: #ad986d;
  text-align: center;
}

section.music .disc .middle .time .song_time {
  font-size: 10px;
  opacity: 0.8;
}

section.music .disc .control {
  width: 60px;
  height: 60px;
  background-color: #ad986d;
}

section.music .disc .control i {
  position: absolute;
  left: 2px;
}

section.music .disc .control i.play {
  top: 2px;
  border-width: 4px 8px 4px 8px;
  border-color: transparent transparent transparent #101012;
  border-style: solid;
}

section.music .disc .control i.pause {
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 4px;
  height: 10px;
  opacity: 0;
  top: 10px;
}


/*section.music .disc .control i.pause i {*/


/*display: block;*/


/*width: 2px;*/


/*height: 10px;*/


/*background-color: #ad986d;*/


/*}*/

section.music .disc .control audio {
  position: absolute;
  top: -8px;
  /*top: 16px;*/
  left: -11px;
  /*left: 14px;*/
  width: 0;
  height: 0;
  background-color: teal;
  /*opacity: 0*/
}


/*控制播放按钮的大小*/

section.music .disc .control .control_btn {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 50%;
  margin: -6px 0 0 -6px;
  left: 50%;
}

section.music .description {
  width: 500px;
  text-align: center;
}

section.music .description .song_name {
  font-size: 16px;
  color: #bda77a;
  margin-top: 63px;
}

section.music .description .singer_name {
  font-size: 13px;
  color: #414040;
  margin-top: 13px;
}

section.music .container>.title {
  position: absolute;
  height: 400px;
  background-color: teal;
  top: 110px;
  right: 0;
}

section.music .container>.title p {
  color: #bda77a;
  font-size: 56px;
  position: absolute;
  transform: rotate(90deg);
  letter-spacing: 2px;
  white-space: nowrap;
}

section.music .container>.title p.music {
  right: -99px;
  top: 88px;
}

section.music .container>.title p.talent {
  right: -76px;
  top: 200px;
  font-size: 40px;
}

section.music .container>.title .music i.xiajiantou {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 25px 16px 25px;
  border-color: transparent transparent transparent #bda77a;
}


/* footer B */

.footer_wrap {
  width: 100%;
  background-color: #1A1A1A;
  color: #474747;
}

.footer_t {
  height: 240px;
  width: 100%;
  border-bottom: 1px solid #222222;
}

.f_t_content {
  padding: 80px 0 100px 0;
  line-height: 32px;
}

.f_t_content .contact_left div a {
  display: inline-block;
  line-height: 36px;
  width: 36px;
  text-align: center;
  border-radius: 50%;
  color: #5A595A;
  background-color: transparent;
  transition: all 0.3s;
}

.f_t_content .contact_left p:first-child {
  font-size: 21px;
  color: #ad986d;
}

.f_t_content .contact_left p:nth-child(2) {
  font-size: 14px;
  color: #453F31;
  letter-spacing: 2px;
  line-height: 34px;
}

.f_t_content .contact_left div a:hover {
  background-color: #AD986D;
  color: #fff;
}

.f_t_content .contact_middle {
  margin-left: 330px;
}

.f_t_content .contact_middle,
.f_t_content .contact_middle2 {
  font-size: 13px;
}

.f_t_content .contact_middle2 {
  margin-left: 45px;
}

.f_t_content .contact_tel p:first-child {
  font-size: 12px;
}

.f_t_content .contact_tel p:last-child {
  color: #ad986d;
  font-size: 16px;
}

.f_t_content .contact_tel {
  position: relative;
}

.f_t_content .contact_tel:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: -20px;
  bottom: 6px;
  width: 1px;
  height: 50px;
  background-color: #474747;
  transform: rotate(30deg);
}

.footer_b .f_b_content {
  font-size: 12px;
  line-height: 40px;
}

.footer_b .f_b_content p span {
  margin: 0 10px;
}


/* footer E */


/*二维码开始*/

.erweima {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  z-index: 5;
  top: 0;
  display: none;
}

.erweima_box {
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
}

.erweima_pic {
  width: 192px;
  height: 192px;
  margin: 0 auto;
  background: url(../images/erWeiMa.jpg) center 0 no-repeat;
}

.erweima_p {
  font-size: 14px;
  color: #111;
  margin-bottom: 12px;
}


/*二维码结束*/