.carousel_wrapper {
  width: 100%;
  background: url(../images/banner_bg.png) no-repeat;
}

.carousel_window {
  height: 949px;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: url('../images/curmove.png'), pointer;
}

.carousel_box {
  position: absolute;
}

.carousel_box>li {
  float: left;
}

.carousel_box>li>.item_bg>.item_det {
  background: url(../images/bg_1_det.png) no-repeat;
  background-size: 100%;
  height: 949px;
}

.carousel_box>li>.item_bg {
  background: url(../images/bg_1.png) no-repeat -150px 10px;
  background-size: 100%;
}

.carousel_box>li video {
  width: 100%;
  max-width: 100%;
}

.points_window_wrapper {
  left: 50%;
  margin-left: -600px;
  bottom: 50px;
  position: absolute;
}

.points_window {
  position: relative;
  width: 1200px;
  height: 86px;
  overflow: hidden;
}

.carousel_points {
  width: 6000px;
  position: absolute;
  z-index: 2;
  color: #ad986d;
  font-size: 12px;
  user-select: none;
}

.carousel_points>li {
  cursor: pointer;
  position: relative;
  float: left;
  margin: 0 200px 0 0;
  width: 265px;
}

.main_content .carousel_points li .points_t {
  line-height: 40px;
  position: relative;
  top: 20px;
  opacity: 0;
}

.main_content .carousel_points li .points_spe {
  height: 2px;
  width: 205px;
  background-color: #AD976E;
}

.main_content .carousel_points li .points_b {
  line-height: 44px;
}

.points_num_wrap {
  position: absolute;
  top: 40px;
  right: 0px;
  transform: rotate(-45deg);
  overflow: hidden;
}

.main_content .carousel_points li .points_num {
  line-height: 40px;
  width: 60px;
  font: 30px 'Gotham-Bold';
  position: relative;
  top: 50px;
  transform: rotate(45deg);
}


/* arrow */

.points_larrow,
.points_rarrow {
  width: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  line-height: 22px;
  cursor: pointer;
  transition: padding 0.3s;
  overflow: hidden;
  color: #ad986d;
  font-size: 14px;
}

.points_larrow:hover {
  padding-right: 40px;
}

.points_rarrow:hover {
  padding-left: 40px;
}

.points_rarrow {
  left: 1250px;
  text-align: right;
}

.points_larrow {
  right: 1250px;
}

.points_larrow i,
.points_rarrow i {
  font-size: 12px;
  color: #ad986d;
  position: relative;
}

.points_larrow span,
.points_rarrow span {
  position: absolute;
}

.points_larrow span {
  left: 20px;
}

.points_rarrow span {
  right: 20px;
}